{
  "openapi": "3.1.0",
  "info": {
    "title": "Slack Web API & Events API (Strict SDK Generation)",
    "version": "2026-06-08",
    "description": "Generated 100% offline directly from the TypeScript AST of the official Node SDK. See the generator repo for details: https://github.com/connectstrata/slack-openapi-generator"
  },
  "externalDocs": {
    "description": "Generator source code and documentation",
    "url": "https://github.com/connectstrata/slack-openapi-generator"
  },
  "servers": [
    {
      "url": "https://slack.com"
    }
  ],
  "security": [
    {
      "slackAuth": []
    }
  ],
  "paths": {
    "/api/admin.analytics.getFile": {
      "post": {
        "operationId": "admin.analytics.getFile",
        "tags": [
          "admin"
        ],
        "summary": "Retrieve analytics data for a given date, presented as a compressed JSON file.",
        "description": "Retrieve analytics data for a given date, presented as a compressed JSON file.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminAnalyticsGetFileArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminAnalyticsGetFileArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminAnalyticsGetFileResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminAnalyticsGetFileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.apps.activities.list": {
      "post": {
        "operationId": "admin.apps.activities.list",
        "tags": [
          "admin"
        ],
        "summary": "Get logs for a specified team/org.",
        "description": "Get logs for a specified team/org.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminAppsActivitiesListArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminAppsActivitiesListArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminAppsActivitiesListResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminAppsActivitiesListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.apps.approve": {
      "post": {
        "operationId": "admin.apps.approve",
        "tags": [
          "admin"
        ],
        "summary": "Approve an app for installation on a workspace.",
        "description": "Approve an app for installation on a workspace.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminAppsApproveArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminAppsApproveArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminAppsApproveResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminAppsApproveResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.apps.approved.list": {
      "post": {
        "operationId": "admin.apps.approved.list",
        "tags": [
          "admin"
        ],
        "summary": "List approved apps for an org or workspace.",
        "description": "List approved apps for an org or workspace.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminAppsApprovedListArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminAppsApprovedListArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminAppsApprovedListResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminAppsApprovedListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.apps.clearResolution": {
      "post": {
        "operationId": "admin.apps.clearResolution",
        "tags": [
          "admin"
        ],
        "summary": "Clear an app resolution.",
        "description": "Clear an app resolution.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminAppsClearResolutionArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminAppsClearResolutionArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminAppsClearResolutionResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminAppsClearResolutionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.apps.config.lookup": {
      "post": {
        "operationId": "admin.apps.config.lookup",
        "tags": [
          "admin"
        ],
        "summary": "Look up the app config for connectors by their IDs.",
        "description": "Look up the app config for connectors by their IDs.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminAppsConfigLookupArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminAppsConfigLookupArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminAppsConfigLookupResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminAppsConfigLookupResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.apps.config.set": {
      "post": {
        "operationId": "admin.apps.config.set",
        "tags": [
          "admin"
        ],
        "summary": "Set the app config for a connector.",
        "description": "Set the app config for a connector.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminAppsConfigSetArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminAppsConfigSetArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminAppsConfigSetResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminAppsConfigSetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.apps.requests.cancel": {
      "post": {
        "operationId": "admin.apps.requests.cancel",
        "tags": [
          "admin"
        ],
        "summary": "Cancel app request for team.",
        "description": "Cancel app request for team.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminAppsRequestsCancelArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminAppsRequestsCancelArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminAppsRequestsCancelResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminAppsRequestsCancelResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.apps.requests.list": {
      "post": {
        "operationId": "admin.apps.requests.list",
        "tags": [
          "admin"
        ],
        "summary": "List app requests for a team/workspace.",
        "description": "List app requests for a team/workspace.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminAppsRequestsListArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminAppsRequestsListArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminAppsRequestsListResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminAppsRequestsListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.apps.restrict": {
      "post": {
        "operationId": "admin.apps.restrict",
        "tags": [
          "admin"
        ],
        "summary": "Restrict an app for installation on a workspace.",
        "description": "Restrict an app for installation on a workspace.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminAppsRestrictArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminAppsRestrictArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminAppsRestrictResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminAppsRestrictResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.apps.restricted.list": {
      "post": {
        "operationId": "admin.apps.restricted.list",
        "tags": [
          "admin"
        ],
        "summary": "List restricted apps for an org or workspace.",
        "description": "List restricted apps for an org or workspace.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminAppsRestrictedListArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminAppsRestrictedListArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminAppsRestrictedListResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminAppsRestrictedListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.apps.uninstall": {
      "post": {
        "operationId": "admin.apps.uninstall",
        "tags": [
          "admin"
        ],
        "summary": "Uninstall an app from one or many workspaces, or an entire enterprise organization.",
        "description": "Uninstall an app from one or many workspaces, or an entire enterprise organization.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminAppsUninstallArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminAppsUninstallArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminAppsUninstallResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminAppsUninstallResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.auth.policy.assignEntities": {
      "post": {
        "operationId": "admin.auth.policy.assignEntities",
        "tags": [
          "admin"
        ],
        "summary": "Assign entities to a particular authentication policy.",
        "description": "Assign entities to a particular authentication policy.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminAuthPolicyAssignEntitiesArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminAuthPolicyAssignEntitiesArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminAuthPolicyAssignEntitiesResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminAuthPolicyAssignEntitiesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.auth.policy.getEntities": {
      "post": {
        "operationId": "admin.auth.policy.getEntities",
        "tags": [
          "admin"
        ],
        "summary": "Fetch all the entities assigned to a particular authentication policy by name.",
        "description": "Fetch all the entities assigned to a particular authentication policy by name.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminAuthPolicyGetEntitiesArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminAuthPolicyGetEntitiesArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminAuthPolicyGetEntitiesResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminAuthPolicyGetEntitiesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.auth.policy.removeEntities": {
      "post": {
        "operationId": "admin.auth.policy.removeEntities",
        "tags": [
          "admin"
        ],
        "summary": "Remove specified entities from a specified authentication policy.",
        "description": "Remove specified entities from a specified authentication policy.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminAuthPolicyRemoveEntitiesArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminAuthPolicyRemoveEntitiesArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminAuthPolicyRemoveEntitiesResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminAuthPolicyRemoveEntitiesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.barriers.create": {
      "post": {
        "operationId": "admin.barriers.create",
        "tags": [
          "admin"
        ],
        "summary": "Create an Information Barrier.",
        "description": "Create an Information Barrier.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminBarriersCreateArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminBarriersCreateArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminBarriersCreateResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminBarriersCreateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.barriers.delete": {
      "post": {
        "operationId": "admin.barriers.delete",
        "tags": [
          "admin"
        ],
        "summary": "Delete an existing Information Barrier.",
        "description": "Delete an existing Information Barrier.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminBarriersDeleteArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminBarriersDeleteArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminBarriersDeleteResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminBarriersDeleteResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.barriers.list": {
      "post": {
        "operationId": "admin.barriers.list",
        "tags": [
          "admin"
        ],
        "summary": "Get all Information Barriers for your organization.",
        "description": "Get all Information Barriers for your organization.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminBarriersListArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminBarriersListArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminBarriersListResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminBarriersListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.barriers.update": {
      "post": {
        "operationId": "admin.barriers.update",
        "tags": [
          "admin"
        ],
        "summary": "Update an existing Information Barrier.",
        "description": "Update an existing Information Barrier.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminBarriersUpdateArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminBarriersUpdateArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminBarriersUpdateResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminBarriersUpdateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.conversations.archive": {
      "post": {
        "operationId": "admin.conversations.archive",
        "tags": [
          "admin"
        ],
        "summary": "Archive a public or private channel.",
        "description": "Archive a public or private channel.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsArchiveArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsArchiveArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminConversationsArchiveResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminConversationsArchiveResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.conversations.bulkArchive": {
      "post": {
        "operationId": "admin.conversations.bulkArchive",
        "tags": [
          "admin"
        ],
        "summary": "Archive public or private channels in bulk.",
        "description": "Archive public or private channels in bulk.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsBulkArchiveArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsBulkArchiveArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminConversationsBulkArchiveResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminConversationsBulkArchiveResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.conversations.bulkDelete": {
      "post": {
        "operationId": "admin.conversations.bulkDelete",
        "tags": [
          "admin"
        ],
        "summary": "Delete public or private channels in bulk.",
        "description": "Delete public or private channels in bulk.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsBulkDeleteArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsBulkDeleteArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminConversationsBulkDeleteResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminConversationsBulkDeleteResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.conversations.bulkMove": {
      "post": {
        "operationId": "admin.conversations.bulkMove",
        "tags": [
          "admin"
        ],
        "summary": "Move public or private channels in bulk.",
        "description": "Move public or private channels in bulk.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsBulkMoveArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsBulkMoveArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminConversationsBulkMoveResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminConversationsBulkMoveResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.conversations.convertToPrivate": {
      "post": {
        "operationId": "admin.conversations.convertToPrivate",
        "tags": [
          "admin"
        ],
        "summary": "Convert a public channel to a private channel.",
        "description": "Convert a public channel to a private channel.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsConvertToPrivateArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsConvertToPrivateArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminConversationsConvertToPrivateResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminConversationsConvertToPrivateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.conversations.convertToPublic": {
      "post": {
        "operationId": "admin.conversations.convertToPublic",
        "tags": [
          "admin"
        ],
        "summary": "Convert a private channel to a public channel.",
        "description": "Convert a private channel to a public channel.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsConvertToPublicArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsConvertToPublicArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminConversationsConvertToPublicResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminConversationsConvertToPublicResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.conversations.create": {
      "post": {
        "operationId": "admin.conversations.create",
        "tags": [
          "admin"
        ],
        "summary": "Create a public or private channel-based conversation.",
        "description": "Create a public or private channel-based conversation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsCreateArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsCreateArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminConversationsCreateResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminConversationsCreateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.conversations.delete": {
      "post": {
        "operationId": "admin.conversations.delete",
        "tags": [
          "admin"
        ],
        "summary": "Delete a public or private channel.",
        "description": "Delete a public or private channel.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsDeleteArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsDeleteArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminConversationsDeleteResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminConversationsDeleteResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.conversations.disconnectShared": {
      "post": {
        "operationId": "admin.conversations.disconnectShared",
        "tags": [
          "admin"
        ],
        "summary": "Disconnect a connected channel from one or more workspaces.",
        "description": "Disconnect a connected channel from one or more workspaces.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsDisconnectSharedArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsDisconnectSharedArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminConversationsDisconnectSharedResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminConversationsDisconnectSharedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.conversations.ekm.listOriginalConnectedChannelInfo": {
      "post": {
        "operationId": "admin.conversations.ekm.listOriginalConnectedChannelInfo",
        "tags": [
          "admin"
        ],
        "summary": "List all disconnected channels — i.e., channels that were once connected to other workspaces and then disconnected — and the corresponding original channel IDs for key revocation with EKM.",
        "description": "List all disconnected channels — i.e., channels that were once connected to other workspaces and then disconnected — and the corresponding original channel IDs for key revocation with EKM.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsEKMListOriginalConnectedChannelInfoArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsEKMListOriginalConnectedChannelInfoArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminConversationsEkmListOriginalConnectedChannelInfoResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminConversationsEkmListOriginalConnectedChannelInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.conversations.getConversationPrefs": {
      "post": {
        "operationId": "admin.conversations.getConversationPrefs",
        "tags": [
          "admin"
        ],
        "summary": "Get conversation preferences for a public or private channel.",
        "description": "Get conversation preferences for a public or private channel.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsGetConversationPrefsArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsGetConversationPrefsArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminConversationsGetConversationPrefsResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminConversationsGetConversationPrefsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.conversations.getCustomRetention": {
      "post": {
        "operationId": "admin.conversations.getCustomRetention",
        "tags": [
          "admin"
        ],
        "summary": "Get a conversation's retention policy.",
        "description": "Get a conversation's retention policy.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsGetCustomRetentionArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsGetCustomRetentionArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminConversationsGetCustomRetentionResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminConversationsGetCustomRetentionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.conversations.getTeams": {
      "post": {
        "operationId": "admin.conversations.getTeams",
        "tags": [
          "admin"
        ],
        "summary": "Get all the workspaces a given public or private channel is connected to within this Enterprise org.",
        "description": "Get all the workspaces a given public or private channel is connected to within this Enterprise org.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsGetTeamsArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsGetTeamsArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminConversationsGetTeamsResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminConversationsGetTeamsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.conversations.invite": {
      "post": {
        "operationId": "admin.conversations.invite",
        "tags": [
          "admin"
        ],
        "summary": "Invite a user to a public or private channel.",
        "description": "Invite a user to a public or private channel.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsInviteArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsInviteArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminConversationsInviteResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminConversationsInviteResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.conversations.lookup": {
      "post": {
        "operationId": "admin.conversations.lookup",
        "tags": [
          "admin"
        ],
        "summary": "Returns channels on the given team using the filters.",
        "description": "Returns channels on the given team using the filters.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsLookupArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsLookupArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminConversationsLookupResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminConversationsLookupResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.conversations.removeCustomRetention": {
      "post": {
        "operationId": "admin.conversations.removeCustomRetention",
        "tags": [
          "admin"
        ],
        "summary": "Remove a conversation's retention policy.",
        "description": "Remove a conversation's retention policy.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsRemoveCustomRetentionArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsRemoveCustomRetentionArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminConversationsRemoveCustomRetentionResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminConversationsRemoveCustomRetentionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.conversations.rename": {
      "post": {
        "operationId": "admin.conversations.rename",
        "tags": [
          "admin"
        ],
        "summary": "Rename a public or private channel.",
        "description": "Rename a public or private channel.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsRenameArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsRenameArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminConversationsRenameResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminConversationsRenameResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.conversations.restrictAccess.addGroup": {
      "post": {
        "operationId": "admin.conversations.restrictAccess.addGroup",
        "tags": [
          "admin"
        ],
        "summary": "Add an allowlist of IDP groups for accessing a channel.",
        "description": "Add an allowlist of IDP groups for accessing a channel.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsRestrictAccessAddGroupArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsRestrictAccessAddGroupArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminConversationsRestrictAccessAddGroupResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminConversationsRestrictAccessAddGroupResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.conversations.restrictAccess.listGroups": {
      "post": {
        "operationId": "admin.conversations.restrictAccess.listGroups",
        "tags": [
          "admin"
        ],
        "summary": "List all IDP Groups linked to a channel.",
        "description": "List all IDP Groups linked to a channel.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsRestrictAccessListGroupsArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsRestrictAccessListGroupsArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminConversationsRestrictAccessListGroupsResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminConversationsRestrictAccessListGroupsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.conversations.restrictAccess.removeGroup": {
      "post": {
        "operationId": "admin.conversations.restrictAccess.removeGroup",
        "tags": [
          "admin"
        ],
        "summary": "Remove a linked IDP group linked from a private channel.",
        "description": "Remove a linked IDP group linked from a private channel.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsRestrictAccessRemoveGroupArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsRestrictAccessRemoveGroupArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminConversationsRestrictAccessRemoveGroupResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminConversationsRestrictAccessRemoveGroupResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.conversations.search": {
      "post": {
        "operationId": "admin.conversations.search",
        "tags": [
          "admin"
        ],
        "summary": "Search for public or private channels in an Enterprise organization.",
        "description": "Search for public or private channels in an Enterprise organization.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsSearchArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsSearchArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminConversationsSearchResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminConversationsSearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.conversations.setConversationPrefs": {
      "post": {
        "operationId": "admin.conversations.setConversationPrefs",
        "tags": [
          "admin"
        ],
        "summary": "Set the posting permissions for a public or private channel.",
        "description": "Set the posting permissions for a public or private channel.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsSetConversationPrefsArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsSetConversationPrefsArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminConversationsSetConversationPrefsResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminConversationsSetConversationPrefsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.conversations.setCustomRetention": {
      "post": {
        "operationId": "admin.conversations.setCustomRetention",
        "tags": [
          "admin"
        ],
        "summary": "Set a conversation's retention policy.",
        "description": "Set a conversation's retention policy.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsSetCustomRetentionArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsSetCustomRetentionArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminConversationsSetCustomRetentionResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminConversationsSetCustomRetentionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.conversations.setTeams": {
      "post": {
        "operationId": "admin.conversations.setTeams",
        "tags": [
          "admin"
        ],
        "summary": "Set the workspaces in an Enterprise grid org that connect to a public or private channel.",
        "description": "Set the workspaces in an Enterprise grid org that connect to a public or private channel.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsSetTeamsArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsSetTeamsArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminConversationsSetTeamsResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminConversationsSetTeamsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.conversations.unarchive": {
      "post": {
        "operationId": "admin.conversations.unarchive",
        "tags": [
          "admin"
        ],
        "summary": "Unarchive a public or private channel.",
        "description": "Unarchive a public or private channel.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsUnarchiveArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminConversationsUnarchiveArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminConversationsUnarchiveResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminConversationsUnarchiveResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.emoji.add": {
      "post": {
        "operationId": "admin.emoji.add",
        "tags": [
          "admin"
        ],
        "summary": "Add an emoji.",
        "description": "Add an emoji.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminEmojiAddArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminEmojiAddArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminEmojiAddResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminEmojiAddResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.emoji.addAlias": {
      "post": {
        "operationId": "admin.emoji.addAlias",
        "tags": [
          "admin"
        ],
        "summary": "Add an emoji alias.",
        "description": "Add an emoji alias.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminEmojiAddAliasArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminEmojiAddAliasArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminEmojiAddAliasResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminEmojiAddAliasResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.emoji.list": {
      "post": {
        "operationId": "admin.emoji.list",
        "tags": [
          "admin"
        ],
        "summary": "List emoji for an Enterprise Grid organization.",
        "description": "List emoji for an Enterprise Grid organization.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminEmojiListArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminEmojiListArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminEmojiListResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminEmojiListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.emoji.remove": {
      "post": {
        "operationId": "admin.emoji.remove",
        "tags": [
          "admin"
        ],
        "summary": "Remove an emoji across an Enterprise Grid organization.",
        "description": "Remove an emoji across an Enterprise Grid organization.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminEmojiRemoveArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminEmojiRemoveArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminEmojiRemoveResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminEmojiRemoveResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.emoji.rename": {
      "post": {
        "operationId": "admin.emoji.rename",
        "tags": [
          "admin"
        ],
        "summary": "Rename an emoji.",
        "description": "Rename an emoji.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminEmojiRenameArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminEmojiRenameArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminEmojiRenameResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminEmojiRenameResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.functions.list": {
      "post": {
        "operationId": "admin.functions.list",
        "tags": [
          "admin"
        ],
        "summary": "Look up functions by a set of apps.",
        "description": "Look up functions by a set of apps.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminFunctionsListArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminFunctionsListArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminFunctionsListResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminFunctionsListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.functions.permissions.lookup": {
      "post": {
        "operationId": "admin.functions.permissions.lookup",
        "tags": [
          "admin"
        ],
        "summary": "Lookup the visibility of multiple Slack functions and include the users if it is limited to particular named entities.",
        "description": "Lookup the visibility of multiple Slack functions and include the users if it is limited to particular named entities.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminFunctionsPermissionsLookupArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminFunctionsPermissionsLookupArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminFunctionsPermissionsLookupResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminFunctionsPermissionsLookupResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.functions.permissions.set": {
      "post": {
        "operationId": "admin.functions.permissions.set",
        "tags": [
          "admin"
        ],
        "summary": "Set the visibility of a Slack function and define the users or workspaces if it is set to named_entities.",
        "description": "Set the visibility of a Slack function and define the users or workspaces if it is set to named_entities.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminFunctionsPermissionsSetArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminFunctionsPermissionsSetArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminFunctionsPermissionsSetResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminFunctionsPermissionsSetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.inviteRequests.approve": {
      "post": {
        "operationId": "admin.inviteRequests.approve",
        "tags": [
          "admin"
        ],
        "summary": "Approve a workspace invite request.",
        "description": "Approve a workspace invite request.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminInviteRequestsApproveArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminInviteRequestsApproveArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminInviteRequestsApproveResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminInviteRequestsApproveResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.inviteRequests.approved.list": {
      "post": {
        "operationId": "admin.inviteRequests.approved.list",
        "tags": [
          "admin"
        ],
        "summary": "List all approved workspace invite requests.",
        "description": "List all approved workspace invite requests.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminInviteRequestsApprovedListArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminInviteRequestsApprovedListArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminInviteRequestsApprovedListResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminInviteRequestsApprovedListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.inviteRequests.denied.list": {
      "post": {
        "operationId": "admin.inviteRequests.denied.list",
        "tags": [
          "admin"
        ],
        "summary": "List all denied workspace invite requests.",
        "description": "List all denied workspace invite requests.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminInviteRequestsDeniedListArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminInviteRequestsDeniedListArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminInviteRequestsDeniedListResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminInviteRequestsDeniedListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.inviteRequests.deny": {
      "post": {
        "operationId": "admin.inviteRequests.deny",
        "tags": [
          "admin"
        ],
        "summary": "Deny a workspace invite request.",
        "description": "Deny a workspace invite request.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminInviteRequestsDenyArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminInviteRequestsDenyArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminInviteRequestsDenyResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminInviteRequestsDenyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.inviteRequests.list": {
      "post": {
        "operationId": "admin.inviteRequests.list",
        "tags": [
          "admin"
        ],
        "summary": "List all pending workspace invite requests.",
        "description": "List all pending workspace invite requests.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminInviteRequestsListArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminInviteRequestsListArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminInviteRequestsListResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminInviteRequestsListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.roles.addAssignments": {
      "post": {
        "operationId": "admin.roles.addAssignments",
        "tags": [
          "admin"
        ],
        "summary": "Adds members to the specified role with the specified scopes.",
        "description": "Adds members to the specified role with the specified scopes.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminRolesAddAssignmentsArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminRolesAddAssignmentsArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminRolesAddAssignmentsResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminRolesAddAssignmentsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.roles.listAssignments": {
      "post": {
        "operationId": "admin.roles.listAssignments",
        "tags": [
          "admin"
        ],
        "summary": "Lists assignments for all roles across entities. Options to scope results by any combination of roles or entities.",
        "description": "Lists assignments for all roles across entities. Options to scope results by any combination of roles or entities.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminRolesListAssignmentsArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminRolesListAssignmentsArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminRolesListAssignmentsResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminRolesListAssignmentsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.roles.removeAssignments": {
      "post": {
        "operationId": "admin.roles.removeAssignments",
        "tags": [
          "admin"
        ],
        "summary": "Removes a set of users from a role for the given scopes and entities.",
        "description": "Removes a set of users from a role for the given scopes and entities.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminRolesRemoveAssignmentsArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminRolesRemoveAssignmentsArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminRolesRemoveAssignmentsResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminRolesRemoveAssignmentsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.teams.admins.list": {
      "post": {
        "operationId": "admin.teams.admins.list",
        "tags": [
          "admin"
        ],
        "summary": "List all of the admins on a given workspace.",
        "description": "List all of the admins on a given workspace.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminTeamsAdminsListArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminTeamsAdminsListArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminTeamsAdminsListResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminTeamsAdminsListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.teams.create": {
      "post": {
        "operationId": "admin.teams.create",
        "tags": [
          "admin"
        ],
        "summary": "Create an Enterprise team.",
        "description": "Create an Enterprise team.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminTeamsCreateArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminTeamsCreateArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminTeamsCreateResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminTeamsCreateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.teams.list": {
      "post": {
        "operationId": "admin.teams.list",
        "tags": [
          "admin"
        ],
        "summary": "List all teams on an Enterprise organization.",
        "description": "List all teams on an Enterprise organization.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminTeamsListArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminTeamsListArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminTeamsListResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminTeamsListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.teams.owners.list": {
      "post": {
        "operationId": "admin.teams.owners.list",
        "tags": [
          "admin"
        ],
        "summary": "List all of the owners on a given workspace.",
        "description": "List all of the owners on a given workspace.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminTeamsOwnersListArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminTeamsOwnersListArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminTeamsOwnersListResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminTeamsOwnersListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.teams.settings.info": {
      "post": {
        "operationId": "admin.teams.settings.info",
        "tags": [
          "admin"
        ],
        "summary": "Fetch information about settings in a workspace.",
        "description": "Fetch information about settings in a workspace.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminTeamsSettingsInfoArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminTeamsSettingsInfoArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminTeamsSettingsInfoResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminTeamsSettingsInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.teams.settings.setDefaultChannels": {
      "post": {
        "operationId": "admin.teams.settings.setDefaultChannels",
        "tags": [
          "admin"
        ],
        "summary": "Set the default channels of a workspace.",
        "description": "Set the default channels of a workspace.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminTeamsSettingsSetDefaultChannelsArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminTeamsSettingsSetDefaultChannelsArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminTeamsSettingsSetDefaultChannelsResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminTeamsSettingsSetDefaultChannelsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.teams.settings.setDescription": {
      "post": {
        "operationId": "admin.teams.settings.setDescription",
        "tags": [
          "admin"
        ],
        "summary": "Set the description of a given workspace.",
        "description": "Set the description of a given workspace.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminTeamsSettingsSetDescriptionArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminTeamsSettingsSetDescriptionArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminTeamsSettingsSetDescriptionResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminTeamsSettingsSetDescriptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.teams.settings.setDiscoverability": {
      "post": {
        "operationId": "admin.teams.settings.setDiscoverability",
        "tags": [
          "admin"
        ],
        "summary": "Set the discoverability of a given workspace.",
        "description": "Set the discoverability of a given workspace.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminTeamsSettingsSetDiscoverabilityArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminTeamsSettingsSetDiscoverabilityArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminTeamsSettingsSetDiscoverabilityResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminTeamsSettingsSetDiscoverabilityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.teams.settings.setIcon": {
      "post": {
        "operationId": "admin.teams.settings.setIcon",
        "tags": [
          "admin"
        ],
        "summary": "Sets the icon of a workspace.",
        "description": "Sets the icon of a workspace.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminTeamsSettingsSetIconArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminTeamsSettingsSetIconArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminTeamsSettingsSetIconResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminTeamsSettingsSetIconResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.teams.settings.setName": {
      "post": {
        "operationId": "admin.teams.settings.setName",
        "tags": [
          "admin"
        ],
        "summary": "Set the name of a given workspace.",
        "description": "Set the name of a given workspace.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminTeamsSettingsSetNameArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminTeamsSettingsSetNameArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminTeamsSettingsSetNameResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminTeamsSettingsSetNameResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.usergroups.addChannels": {
      "post": {
        "operationId": "admin.usergroups.addChannels",
        "tags": [
          "admin"
        ],
        "summary": "Add up to one hundred default channels to an IDP group.",
        "description": "Add up to one hundred default channels to an IDP group.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminUsergroupsAddChannelsArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminUsergroupsAddChannelsArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminUsergroupsAddChannelsResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminUsergroupsAddChannelsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.usergroups.addTeams": {
      "post": {
        "operationId": "admin.usergroups.addTeams",
        "tags": [
          "admin"
        ],
        "summary": "Associate one or more default workspaces with an organization-wide IDP group.",
        "description": "Associate one or more default workspaces with an organization-wide IDP group.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminUsergroupsAddTeamsArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminUsergroupsAddTeamsArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminUsergroupsAddTeamsResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminUsergroupsAddTeamsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.usergroups.listChannels": {
      "post": {
        "operationId": "admin.usergroups.listChannels",
        "tags": [
          "admin"
        ],
        "summary": "List the channels linked to an org-level IDP group (user group).",
        "description": "List the channels linked to an org-level IDP group (user group).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminUsergroupsListChannelsArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminUsergroupsListChannelsArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminUsergroupsListChannelsResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminUsergroupsListChannelsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.usergroups.removeChannels": {
      "post": {
        "operationId": "admin.usergroups.removeChannels",
        "tags": [
          "admin"
        ],
        "summary": "Remove one or more default channels from an org-level IDP group (user group).",
        "description": "Remove one or more default channels from an org-level IDP group (user group).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminUsergroupsRemoveChannelsArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminUsergroupsRemoveChannelsArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminUsergroupsRemoveChannelsResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminUsergroupsRemoveChannelsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.users.assign": {
      "post": {
        "operationId": "admin.users.assign",
        "tags": [
          "admin"
        ],
        "summary": "Add an Enterprise user to a workspace.",
        "description": "Add an Enterprise user to a workspace.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminUsersAssignArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminUsersAssignArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminUsersAssignResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminUsersAssignResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.users.invite": {
      "post": {
        "operationId": "admin.users.invite",
        "tags": [
          "admin"
        ],
        "summary": "Invite a user to a workspace.",
        "description": "Invite a user to a workspace.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminUsersInviteArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminUsersInviteArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminUsersInviteResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminUsersInviteResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.users.list": {
      "post": {
        "operationId": "admin.users.list",
        "tags": [
          "admin"
        ],
        "summary": "List users on a workspace.",
        "description": "List users on a workspace.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminUsersListArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminUsersListArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminUsersListResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminUsersListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin.users.remove": {
      "post": {
        "operationId": "admin.users.remove",
        "tags": [
          "admin"
        ],
        "summary": "Remove a user from a workspace.",
        "description": "Remove a user from a workspace.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminUsersRemoveArguments"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AdminUsersRemoveArguments"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response. Returns a strongly-typed `AdminUsersRemoveResponse` object. Note: Slack API errors also return HTTP 200 with `ok: false` and an `error` field.",
            "content": {
              "application/json": {
[...]
